*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1em;
    font-family: sans-serif;
    background-color: black;
}
a{
    text-decoration: none;
}
h2,
h3{
    margin-bottom: 25px;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5625em;
    text-transform: capitalize;
    color: white;
}
p{
    line-height: 1.4;
}
img{
    width: 100%;
    object-fit: cover;
}
.logo-flex-nav2{
    width: 20px;
    height: 20px;
}
.title{
    color: white;
    font-size: 1.125em;
    font-weight: 700;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-nav1{
    gap: 30px;
}
.flex-nav2{
    gap: 10px;
}
section{
    color: white;
}
.header-page{
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid grey;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}
ul.flex-nav1 li a{
    color: white;
    text-transform: capitalize;
    padding: 10px;
}
.flex-nav2 div{
    cursor: pointer;
}
.flex-nav2 a,
.flex-nav2 div{
    padding: 10px;
}
ul.flex-nav1 li a:hover, 
.flex-nav2 a:hover,
.flex-nav2 div:hover{
    background-color: rgba(104, 104, 104, 0.246);
    border-radius: 3px;
}

/* Principal */
#principal{
    padding: 0 30px;
    text-align: center;
    color: white;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-principal{
    gap: 10px;
    margin-bottom: 30px;
    border: 1px solid rgba(168, 168, 168, 0.585);
    border-radius: 20px;
    padding: 5px 16px;
}
.orange{
    color: white;
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
}
.orange:hover,
div#buttons-principal a:first-child:hover{
    background-color: #cd410f;
}
h1{
    font-size: 3.125em;
    margin-bottom: 20px;
}
span{
    color: transparent;
    background-image: linear-gradient(to right, rgb(118, 37, 118), orangered);
    background-clip: text;
    -webkit-background-clip: text;
}
#principal p,
.element-benefits p{
    color: rgb(133, 133, 133);
}
#principal div#buttons-principal{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
div#buttons-principal a{
    width: 200px;
    text-align: center;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: medium;
}
div#buttons-principal a:first-child{
    background-color: orangered;
}
div#buttons-principal a:last-child{
    background-color: #1f1f1f;
}
div#buttons-principal a:last-child:hover{
    background-color: #1c1b1b;
}

/* Container image */
#container-image{
    padding: 80px 30px 50px 30px;
    display: flex;
    justify-content: center;
}
#container-image img{
    border-radius: 10px;
    box-shadow: 0 -20px 20px -20px orangered;
}

/* Sponsors */
#sponsors{
    width: 80%;
    margin: auto;
    margin: auto;
    padding: 50px 30px;
    text-align: center;
}
#sponsors .flex-sponsors{
    width: 100%;
    margin-top: 30px;
    justify-content: space-evenly;
    overflow: auto;
}
#sponsors .flex-sponsors div{
    font-weight: bold;
}

/* Avantages */
#avantages{
    padding: 120px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.text-orange{
    color: orangered;
    margin-bottom: 20px;
    font-size: 1.125em;
}
#avantages .container-benefits{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
.container-benefits div.element-benefits{
    background-color: #1f1f1f76;
    border: 1px solid grey;
    padding: 30px;
}
.element-benefits:hover .gray{
    color: rgb(128, 128, 128);
}
.flex-benefits{
    justify-content: space-between;
}
.gray{
    font-size: 40px;
    color: rgba(128, 128, 128, 0.4);
    font-weight: 600;
}

/* Features */
#features{
    padding: 100px 50px;
}
#features header{
    text-align: center;
}
#features .container-features{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#features .container-features div{
    text-align: center;
}