@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: sans-serif;
    background-color: black;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

a{
    display: inline-block;
    text-decoration: none;
}

h2,
h3,
h4{
    margin-bottom: 20px;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.5625em;
    text-transform: capitalize;
    color: white;
}

p{
    line-height: 1.4;
}

img{
    width: 100%;
    object-fit: cover;
}

.logo-flex-nav2{
    width: 20px;
    height: 20px;
}

.logo-responsive{
    border: 2px solid rgb(239, 232, 232);
}

.title{
    color: white;
    font-size: 1.125em;
    font-weight: 700;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-nav1{
    gap: 30px;
}

.flex-nav2{
    align-items: center;
    gap: 10px;
}

section{
    color: white;
}

section p{
    color: gray;
}

#features,
#services,
#testimonials,
#pricing,
#faqs{
    padding: 100px 20px;
}

#features header,
#services header,
#testimonials header,
#pricing header.header-pricing,
#faqs header{
    text-align: center;
}

#services .container-services .element-service,
.flex-testimonials article{
    background-color: #0d0d0def;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
}

.header-page{
    width: 90%;
    margin: auto;
    padding: 5px 10px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.653);
    box-shadow: 0 0 3px #1d1d1d;
    border-radius: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    z-index: 10000;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

ul.flex-nav1 li a{
    color: white;
    text-transform: capitalize;
    padding: 10px;
}
ul.flex-nav1 li a:hover,
.flex-nav2 a.github:hover,
.flex-nav2 div.pointer:hover{
    background-color: #424242d5;
    border-radius: 5px;
}

.flex-nav2 div.pointer{
    cursor: pointer;
}

.flex-nav2 a.github,
.flex-nav2 div{
    padding: 10px;
}

/* Boutton hamburger */
#hamburger{
    display: none;
}

#burger{
    display: none;
}
#hamburger label span{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    transform: rotate(90deg);
    cursor: pointer;
}

#barre-responsive{
    height: 720px;
    padding: 20px;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: -28px;
    top: -30px;
    display: none;
}

#hamburger #barre-responsive .title{
    padding: 0;
    margin-bottom: 50px;
}

#barre-responsive .flex-responsive{
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

#barre-responsive a{
    padding: 10px;
    color: #fff;
}
#barre-responsive #sous-nav{
    display: none;
}

.flex-responsive li a{
    display: block;
    padding: 10px;
    width: 200px;
}

.flex-responsive li a:hover,
#barre-responsive .dark div:hover{
    background-color: #2e2e2e8c;
    border-radius: 5px;

}

#barre-responsive .dark{
    border-top: 1px solid gray;
    padding: 0;
}
#barre-responsive .dark div{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}



/* Principal */
#principal{
    text-align: center;
    color: white;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-principal{
    gap: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 1px rgba(168, 168, 168, 0.585);
    border-radius: 20px;
    padding: 5px 16px;
}
.orange{
    color: white;
    background-color: orangered;
    padding: 5px 16px;
    border-radius: 25px;
}
.orange:hover,
div#buttons-principal a:first-child:hover{
    background-color: #cd410f;
}
h1{
    font-size: 3.125em;
    margin-bottom: 20px;
}
span.shadcn{
    color: transparent;
    background-image: linear-gradient(to right, rgb(118, 37, 118), orangered);
    background-clip: text;
    -webkit-background-clip: text;
}

#principal div#buttons-principal{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
div#buttons-principal a{
    display: block;
    width: 300px;
    text-align: center;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: medium;
}
div#buttons-principal a:first-child{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div#buttons-principal a:last-child{
    background-color: #1f1f1f;
}
div#buttons-principal a:last-child:hover{
    background-color: #1c1b1b;
}

/* Container image */
#container-image{
    padding: 100px 20px 50px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
#container-image img{
    border-radius: 10px;
    box-shadow: 0 -20px 20px -20px orangered;
    position: relative;
    z-index: 500;
}

.flou{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    
}
/* Sponsors */
#sponsors{
    margin: auto;
    padding: 50px 30px;
    text-align: center;
}
#sponsors .title-sponsors{
    font-size: 20px;
    font-weight: lighter;
}
#sponsors .flex-sponsors{
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

#sponsors .flex-sponsors div{
    flex-shrink: 0;
    font-weight: bold;  
}
/* Avantages */
#avantages{
    padding: 120px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.text-orange{
    color: orangered;
    margin-bottom: 20px;
    font-size: 1.125em;
}
#avantages .container-benefits{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
.container-benefits div.element-benefits{
    background-color: #050505;
    box-shadow: 0 0 2px rgba(168, 168, 168, 0.585);
    padding: 30px;
    border-radius: 10px;
}
.element-benefits:hover .gray{
    color: rgb(128, 128, 128);
}
.flex-benefits{
    justify-content: space-between;
}
.gray{
    font-size: 40px;
    color: rgba(128, 128, 128, 0.4);
    font-weight: 600;
}

/* Features */
#features .container-features{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px 20px;
}
#features .container-features div{
    text-align: center;
}

/* Services */
#services .container-services{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.element-pro-bold{
    position: relative;
}
.pro-bold{
    position: absolute;
    top: -15px;
    right: -10px;
    z-index: 500;
    background-color: #373737;
    padding: 5px 16px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

/* Section testimonials */
#testimonials{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}
.container-flex-testimonials{
    min-width: 100%;
    margin-top: 50px;
}

.btn-slider{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.btn-slider button{
    display: block;
    outline: none;
    border: 1px solid rgba(168, 168, 168, 0.585);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.btn-slider button:hover{
    background-color: #1b1a1a;
}

.flex-testimonials{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.flex-testimonials article{
    padding: 30px;
}
.flex-testimonials-content{
    gap: 20px;
    margin-top: 20px;
}

/* Pricing */
.container-pricing{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container-pricing article{
    background-color: #050505;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 8px;
}
.container-pricing article.border-orange{
    border: 2px solid orangered;
}
.container-pricing article header,
.content-pricing{
    margin-bottom: 20px;
}
.container-pricing ul{
    list-style-image: url(images/check-solid.svg);
    list-style-position: inside;
}
.container-pricing ul::marker{
    color: #cd410f;
}
.container-pricing ul li{
    margin-bottom: 20px;
}
.container-pricing a{
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #1f1f1f;
    border-radius: 5px;
}
.container-pricing a:hover{
    background-color: #1b1a1a;
}
.container-pricing a.orange{
    background-color: orangered;
}
.container-pricing a.orange:hover{
    background-color: #cd410f;
}

/* FAQS */


/* Footer */
footer{
    margin: 80px 30px;
    padding: 40px;
    background-color: #050505;
    box-shadow: 0 0 2px gainsboro;
    border-radius: 5px;
    color: white;
}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 0px;
    padding: 40px 0 20px 0;
}
.container-footer ul li{
    margin-bottom: 20px;
}
.container-footer a{
    color: grey;
}

.copy{
    margin-top: 20px;
}

.developed{
    color: orangered;
}

@media all and (max-width: 1536px) {
    #principal,
    #avantages,
    #features,
    #services,
    #testimonials{
        padding-left: 20px;
        padding-right: 20px;
    }
    #avantages{
        flex-direction: column;
        gap: 20px;
    }
    #avantages .container-benefits{
        grid-template-columns: 100%;
        gap: 20px 0;
    }
    #features .container-features{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 60px 20px;
    }
    .flex-testimonials{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 1024px) {
    .container-pricing{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 1000px) {
    .flex-nav2 div.pointer,
    .flex-nav2 a.github,
    nav{
        display: none;
    }
    
    #hamburger{
        display: block;
    }

    #burger:checked ~ label #barre-responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #principal div#buttons-principal{
        flex-direction: column;
        gap: 20px;
    }

}

@media all and (max-width: 831px) {
    .container-footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0px;
        padding: 40px 0 20px 0;
    }
    #services .container-services{
        grid-template-columns: 100%;
    }
    #features .container-features{
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }
    .flex-testimonials{
        grid-template-columns: 100%;
    }
    
    .container-pricing{
        grid-template-columns: 100%;
    }
}
